
@{
    ViewData["Title"] = "PetFoundCompleted";
}


<div class="container">
    <div class="row">
        <h1 class="top">Congratulations !</h1>
        <h2 class="left">Check your profile</h2>
        <h2 class="right">you received additional credit for the pet you found.</h2>

        <a id="btn-add-game" href="/Pets/All" class="forms btn btn-primary btn-lg">Back To Home</a>
    </div>
</div>