

a:hover {
    cursor: pointer;
    text-decoration: none !important;
}

.likeButton {
    margin: 10px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: bold !important;
    color: green !important;
    background-color: white !important;
}

.likeButton:hover {
    background-color: green !important;
    color: white !important;
}


.removelikeButton {
    margin: 10px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: bold !important;
    color: red !important;
    background-color: white !important;
}

    .removelikeButton:hover {
        color: red !important;
        background-color: white !important;
        color: white !important;
        background-color: red !important;
    }


.jumbotron {
    background-color: antiquewhite;
}

footer {
    position: relative;
    height: 50px;
    z-index: 0;
}

.petStyle {
    background-color: aquamarine;
    margin: 5px 0px;
    padding: 25px;
    border: 1px solid black;
    height: 600px;
    position:relative;
    top: 10px;
}

.petStyle:hover {
    background-color: aqua;
    cursor: pointer;
}


.petFoundStyle {
    background-color: tomato !important;
    margin: 5px 0px;
    padding: 25px;
    border: 1px solid black;
}

.petFoundStyle:hover {
    background-color: aqua;
    cursor: pointer;
}


.requiredStar {
    color: red;
    font-size: 20px
}


.profile {
    color: grey;
}

.profileLink {
    font-size:20px;
}


.adminNav {
    background-color: darkblue;
    color: white;
}

.tableAvatar {
    width:40px; 
    height:40px; 
    border-radius:100%;
}

.thCol {

    position: relative;
    left: 70px;
}


